<h1 class="text-center"> Cryptohandel App</h1>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Spellen App</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/crypto" routerLinkActive="active">Crypto's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/koersen" routerLinkActive="active">Koersen</a>
        </li>
        <div *ngIf="isLoggedIn;">
            <li class="nav-item">
            <a class="nav-link" routerLink="/rounds" routerLinkActive="active">Mijn Koersen</a>
            </li>
        </div>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">login</a>
        </li>
      </ul>
    </div>
  </nav>
