<h1 class="text-center">My Crypto's</h1>
<button (click)="changeVisibilityAdd()">Add Crypto</button><br/>

<div *ngIf="showAdd">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form [formGroup]="newMyCryptoForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2> New crypto </h2>
                            <label><strong>Crypto</strong>
                                <select class="form-control" formControlName="cryptoId">
                                   
                                    <option selected *ngFor="let crypto of allCryptoCoins" [ngValue]="crypto.coinId">{{crypto.name}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <strong>Aankoop Koers</strong>
                            <input class="form-control" type="number" name="AankoopKoers" formControlName="cryptoKoersBought" placeholder="Aankoop Koers" [value]="aankoopKoers">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <strong>Aankoop hoeveelheid in €uro</strong>
                            <input class="form-control" type="number" name="AankoopHoeveelheid" formControlName="boughtInEuro" placeholder="aankoop hoeveelheid" [value]="aankoopHoeveelheid">
                        </div>
                    </div>
                    <br/>
                    <button type="submit" [disabled]="!newMyCryptoForm.valid">Submit</button>
                </fieldset>
            </form>
            <br/>       
        </div>
        <div class="col-sm-2"></div>
    </div> 
</div>
<!-- vanaf hier begint het All crypto gedeelte-->
<div class="row">
    <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="text-center"> All Crypto's</h2>            
            <table class="text-center">
                <thead>
                    <tr>
                        <th>myCrypto Id</th>
                        <th>cryptoId</th>
                        <th>Koers Bought</th>
                        <th>Waarde in Euro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mc of allMyCryptos">
                        <td>{{mc.myCryptoId}}</td>
                        <td>{{getCoin(mc.cryptoId).name}}</td>
                        <td>€{{mc.cryptoKoersBought}}</td>
                        <td>€{{mc.worthInEur}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="col-sm-2"></div>
</div>

